/*font links*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
/*common start*/
body{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #8e8e8e;
}
/*common end*/
/*header start*/

header{
	padding: 25px 0;
	
}
.c_nav{}
.logo{}
.logo h1{
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	color: #333333;
}
.menu{}
.menu ul li a{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
    font-weight: 400;
    color: #8e8e8e !important;
    padding: 0 15px !important;
    text-transform: uppercase;
    transition: .3s;
}
.menu ul li:last-child a{}
.menu ul li a:hover{
	color: #333333 !important;
}
.btn_src{
	padding: 3px 0 0 15px;
	border: none;
}
.btn_src i{
	color: #8e8e8e;
}
.btn_src::after {
    display: none;
    
}
.dpm {
    width: 400px;
    padding: 5px 10px;
    border-radius: 0;
    
    }
.dpm[data-bs-popper] {
    top: 68px;
    left: -370px;
    margin-top: 0;
}
.s_input{
	width: 100%;
    height: 45px;
    border: 0;
}
.s_input:focus {
    box-shadow: none;
}
.s_bttn{
	width: 100%;
	height: 45px;
	border: 0;
	background: transparent;
}
/*header end*/
/*slider start*/
.slider{
	background-image: url(../image/slider.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.s_item{
	margin: 210px 0 200px;
	color: #ffffff;
}
.s_h1{
	font-family: 'Lato', sans-serif;
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 0;
}
.s_p{
	margin: 40px 0 55px;
    line-height: 30px;
    word-spacing: 1px;
	
}
.s_a{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #333333;
	padding: 15px 25px;
	background-color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
}
.s_item  i{
	padding: 0 0px 0 15px;
	
}
.b_pre {
	font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #8e8e8e;
    border: none;
    background: transparent;
    text-transform: uppercase;

}
.b_ne{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	border: none;
	background: transparent;
	text-transform: uppercase;

}
/*slider end*/
/*service start*/
.service{
}
.c_pad{
	padding-bottom: 90px;
}
.c_tittle{}
.c_shape{
    width: 2px;
    height: 50px;
    background-color: black;
   

}
.ca_h1{
	font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #333333;
    padding: 20px 0 50px;
    text-transform: uppercase;
}
.se_p{
	line-height: 30px;
}
.si_item{
	margin-top: 70px;
	padding: 60px 15px 35px;
	border: 1px solid #8e8e8e;
}
.si_item:hover {
	border: 1px solid #333333;

}
.si_item:hover .si_icon i{
	color: #333333;
}
.si_item:hover .si_btn {
	color: #333333;
} 
.si_icon{
	margin: -81px auto 35px;
    width: 70px;
	height: 60px;
    background-color: white;
}
.si_icon i{
	font-size: 60px;
	color: #8e8e8e;
}
.si_h2{
	font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 20px;
    text-transform: uppercase;

}
.si_hr{
	width: 50px;
	height: 2px;
}
.si_p{
	padding: 20px 0 35px;
}
.si_btn{
	font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
	color: #8e8e8e;
	text-transform: uppercase;
}
.si_btn i{
	padding-left: 20px;
}
/*service end*/



/*about us start*/
.about{}
.about_img{}
.about_img img{
	width: 100%;
}
.about_text{
	    padding: 0px 0 60px 40px;
}
.about_h1{
	font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
}
.about_p{
	
	padding: 0 0px 35px;
	line-height: 30px;
}
.pab_a{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #333333;
	padding: 10px 15px;
	border: 1px solid #333333;
	background-color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
}
.ab_a i{
	padding: 0 0px 0 15px;
}
/*about us end*/



/*feature start*/
.singel_item{
	padding-top: 40px;
}
.singel_item:hover .fet_icon i {
	color: #333333;
}
.singel_item:hover .fet_text h2{
	color: #333333;
}
.singel_item:hover .fet_line{
	color: #333333;
}

.fet_icon{}
.fet_icon i{
	margin-top: -13px;
	font-size: 48px;
}

.fet_text {}
.fet_text h2{
	font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #8e8e8e;
    text-transform: uppercase;
}

.fet_pa{}
.fet_pa p{
	padding: 20px 0 35px;
}
.fet_line{
	width: 344px;
    height: 1px;
    background-color: #8e8e8e;

}

/*feature end*/



